.App {
    width: 300px;
    margin: 20px auto;
}

.App > div {
    margin-right: 50px;
}

.error {
    border: red 2px solid;
    border-radius: 2px;

}

.error-message {
    color: red;
}

.active-filter {
    background-color: #04F327FF;
    border-radius: 15px;
}

.is-done {
    opacity: 0.5;
}

.button {
    border-radius: 15px;
    opacity: 0.5;
}